@font-face {
    font-display: swap;
    font-family: "CL EagleIII 8x16";
    src: url(https://dimden.dev/fonts/pixelfonts/Web437_CL_EagleIII_8x16.woff) format(woff)
}

/* COLOR PALLETE */

/* --air-force-blue: #6889A4ff;
--white-smoke: #F3F3F3ff;
--yale-blue: #344962ff;
--dusty-mauve: #AA6C83ff;
--deep-space-blue: #1E2C3Fff; */

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

.nav-button a {
    position: relative;
}

.nav-link {
    box-sizing: border-box;
}

@media screen and (max-height: 800px) {
    .next-nav {
        overflow-x: auto !important;
    }
}

body {
    font-family: ms pgothic, "CL EagleIII 8x16", tahoma, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: url(/images/bg/pattern_580.gif) fixed #000;
    overflow-x: hidden;
}

.title {
    display: block;
    z-index: -1;
    justify-content: center;
}

h1 {
    margin-top: 10px;
    font-size: 3rem;
    font-weight: bold;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
}

#portfolio-list a {
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    font-size: 1.5rem;
}

#bg {
    position: fixed;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    object-fit: cover;
    pointer-events: none;
    opacity: 1;
    z-index: -1;
}

.info-box {
    z-index: 3;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    display: none;
    padding: 2rem;
}

.the-actual-content .nav {
    position: relative
}

/* things I want to be aligned center */
.nav,
.main-pg-textbox {
    text-align: center;
}

.nav {
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 41;
    background: #344962ff;
    background-blend-mode: overlay;
    grid-area: nav;
    width: 200px;
    color: #fff;
    font-size: 12px;
}

.nav-link {
    text-shadow: 0 1px #1E2C3Fff, 1px 0 #1E2C3Fff, 0 -1px #1E2C3Fff, -1px 0 #1E2C3Fff, 1px -1px #1E2C3Fff, -1px 1px #1E2C3Fff, 1px 1px #1E2C3Fff, -1px -1px #1E2C3Fff;
    display: inline-block;
    animation: 3s linear infinite reverse rotate;
    border: 3px solid transparent;
    outline: black groove 5px;
    width: fit-content;
    margin: 15px 0 0;
    transition: background-color 0.3s ease;
    font-size: 20px;
    overflow: hidden;
    background: linear-gradient(120deg,
            #ffffff 0%,
            #92B8BC 20%,
            #BDEBE0 60%,
            #ffffff 100%);
    background-size: 200% auto;
    background-position: 0% center;
    animation: shine 4s linear infinite;
}

.nav hr {
    border-top: 1px dotted;
    border-bottom: 0
}

@keyframes shine {
    from {
        background-position: 0% center;
    }

    to {
        background-position: 200% center;
    }
}

.nav-button a {
    color: #D52F63;
    text-decoration: none;
    display: inline-block;
    width: 150px;
    padding: 5px;
    background: #1E2C3Fff;

    /* todo: IMPROVE THIS */
    background: linear-gradient(120deg,
            #ffffff 0%,
            #92B8BC 20%,
            #BDEBE0 60%,
            #ffffff 100%);
    background-size: 200% auto;
    background-position: 0% center;
}

.nav-button a:hover {
    filter: contrast(2);
    /* animation: shine 4s linear infinite; */
}

#portfolio-list {
    position: sticky;
    top: 0;
    left: 1%;
    overflow: scroll;
}

#portfolio-list a {
    color: gray;
}

#portfolio-list a:hover {
    color: white;
    cursor: pointer;
}

#portfolio-textbox {
    position: fixed;
    width: 40%;
    right: 14%;
    bottom: 10%;
    border-style: solid;
    border-width: 3px;
    padding: 1em;
}

.textbox {
    position: fixed;
    width: 40%;
    right: 14%;
    bottom: 10%;
    border-style: solid;
    border-width: 3px;
    padding: 1em;
}

#portfolio-textbox div {
    display: none;
}

.flashing-text {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    animation: flash 1s steps(1) infinite;
    margin: 20px 0;
    line-height: 1.5;
}

@keyframes flash {

    0%,
    100% {
        color: red;
    }

    50% {
        color: white;
    }
}

@keyframes rotate {
    to {
        --angle: 360deg
    }
}

.content,
.extras,
.my-links,
.page,
.something {
    display: grid
}

.next-nav,
.page {
    height: 100vh;
}

.content {
    z-index: 40;
    background: #344962ff;
    padding: 0 20px 20px;
    grid-template-columns: 650px 250px;
    grid-template-rows: 466px 43px 759px;
    grid-template-areas:
        "main sidebar"
        "below-desc sidebar"
        "extras extras";
    height: fit-content;
    width: 940px;
}

.page {
    margin: 0 auto;
    width: fit-content;
    grid-template-columns: auto auto;
    grid-template-areas:
        "nav next-nav"
        "nav footer";
    outline: #000 groove 4px;
}

.next-nav {
    z-index: 40;
    grid-area: next-nav;
    background: #344962ff;
    border-image-repeat: repeat;
    border-left: 20px solid;
    border-right: 20px solid;
    overflow: auto;
}


.main-pg-header {
    z-index: 40;
    grid-template-rows: auto auto auto;
    display: grid;
    grid-template-areas:
        "header"
        "header-title"
        "content";
    width: 100%;
}

.main-pg-textbox {
    letter-spacing: 1px;
    text-wrap: pretty
}

.main-pg-textbox {
    outline: #344962ff groove 5px
}

.main-pg-textbox {
    background: url(/image/bg/write015.png) local #D52F63;
    background-blend-mode: overlay;
    border: 4px outset #344962ff;
    border-radius: 10px;
    margin: 0 7px 0 0;
    padding: 0 0 5px;
    height: 480px;
    grid-area: faq;
    font-size: 14px;
}

.main-pg-textbox-content {
    padding: 10px 15px 3px;
}

.the-actual-content {
    z-index: 10;
    grid-area: the-actual-content;
    gap: 20px;
    grid-template-columns: auto 250px;
    grid-template-rows: 480px auto;
    grid-template-areas:
        "idk whatever"
        "something buttons";
}